.m-midde-container{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.item {
    border: 1px solid wheat;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 11px 60px;
    text-decoration: none;
}
