.m-midde-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item{
    border: 1px solid wheat;
    color: wheat;
    border-radius: 10px;
    width: 19rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #212529;
    
}

